
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
	margin: 0;
	padding: 0;
box-sizing: border-box;
}

:root{

 --Soft-Blue: hsl(231, 69%, 60%);
 --Soft-Red: hsl(0, 94%, 66%);

--Grayish-Blue: hsl(229, 8%, 60%);
--Very-Dark-Blue: hsl(229, 31%, 21%);
--shadow: 0 1px 5px rgba(104,104,104,0.8);

}
 
body{
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
}
h1,h2,h3,h4,a{
	color: var(--Very-Dark-Blue);
	margin: 10px auto;


}
a{
	text-decoration: none;
}
a:active{

	color: var(--Soft-Red);
text-decoration: none;

}
a:hover{
	 	color: var(--Soft-Red);

	text-decoration: none;

}
h2,h3,h4{
	text-align: center;
	max-width: 450px;
}
p{
	color:var(--Grayish-Blue);
	margin: 0 auto;
 padding: 20px;
 max-width: 400px;
}
nav{
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 50px;
	 position: relative;

}
nav > div{
	flex: 1;

}
header> div{
	flex: 1;
}
header img{
	width: 100%;
}
.logo{
	margin-left : 20px;
}
 ul {
	list-style: none;
	display:flex;
	margin: 0;
	padding: 0;
	flex: 0 1 auto;
	height: auto;

 }
 
nav ul li{
	margin:0 20px;
 font-weight: 400;
 display: inline-flex;
}
nav ul li a{
	color: var(--Very-Dark-Blue);
	text-align: center;
}
nav ul li a:hover{
	color: var(--Soft-Red);
	text-decoration: none;
}
.btn1 {
	border:2px solid var(--Soft-Red) ;
 	background: var(--Soft-Red);
	color: white;
	
	padding: .2rem 30px ;
 
	border-radius: 5px;
}.btn1:hover{
	background: white;
	color: var(--Soft-Red);
}
 .btn3{
	border:2px solid var(--Soft-Red) ;
 	background: var(--Soft-Red);
	color: white;
	
	padding: .2rem 30px ;
/*padding: 15px 24px;
	*/
	border-radius: 5px;
}

.btn3:hover{
	background: white;
	color: var(--Soft-Red);
}
.btn2{
	background:white;
	color: var(--Very-Dark-Blue);
	display: inline-block;
    padding: 6px 12px;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 4px;
	}
	.tg-btn{
display: none;
	}
header{
	display: flex;
margin:0 auto;
position: relative;
justify-content: space-around;
max-width: 100%;
width: 1200px;

}
header>div{
	flex:1;
}
 

.container1{
	position: relative;
}
.container1::after {
    content: "";
    width: 40%;
    height: 250px;

    background-color:var(--Soft-Blue);
    position: absolute;
    bottom:  -40px;
  
 
    right:  -50px;
    z-index: -1;
    border-radius: 0 0 0 165px;
}
.tab-content{
	position: relative;
}
.tab-imag{
 	margin:30px auto ;
	  width: 100%;
}
.tab-txt{
display: flex;
flex-direction: column;
	margin: 30px auto;
	padding: 30px;
	justify-content: center;
	align-items: center;
}
.tab-imag::after{
	 
content: "";
  width: 50%;
  height: 75%;
     background-color:var(--Soft-Blue);
  position: absolute;
  bottom:  -100px;
  left: -250px;
   border-radius: 0px 0 160px 0;
   z-index: -1;
}
.active{

}
.section-flex{
	display: flex;
	justify-content: center;
}
.section-flex >div{
	flex:1;
}
.boxes{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 20px;
  position: relative;
  padding: 20px;
}
.inner-box {
    align-items: center;
    padding: 1.0rem 1.5rem;
    text-align: center;
    box-shadow: var(--shadow);
}
.flex-container{
	padding: 50px;
	margin:0 auto;
	display: flex;
flex-direction: column;
flex:1;
justify-content: space-around;
align-items: center;
position: relative;
}

.box1{
	position: relative;
	top:20px;
	left: 0;
}
.box2{
	position: relative;
	top:40px;
	left: 0;
}
.flex-tabs ul {
	margin:20px auto;
	justify-content: center;
display: flex;
}
.flex-tabs ul li{
	margin:0 20px;
 font-weight: 400;
 	color: var(--Very-Dark-Blue);


}
.flex-tabs ul li:hover{
	color:var(--Soft-Red) ;
	cursor: pointer;
}

.Features{
 width:100%;
align-content: center;
text-align: center;
margin: 0 auto;
padding:20px 0px;
 
}
.active{
	color: color:var(--Soft-Red) ;
	background:white;
}
.contact-form{
	 text-align: center;
	justify-content: center;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;

}
.contact-form, .btn{
	background-color:  var( --Soft-Blue);
	color: white;
	padding: 8px 16px;
margin: 0 auto;
}
.tab-sec{
	padding-left: 20px;
}
footer{

	background-color:var(--Very-Dark-Blue);
	color: white;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	 padding: 20px;
}
.crfil:hover{
	fill:var(--Soft-Red); 

}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
   color: var(--Soft-Red);
   background-color: white;
   cursor: pointer;
   border-bottom: 2px solid var(--Soft-Red);
    }
.nav-pills>li>a {
 border-radius: 0px; 
}
.btn-primary:hover{
background-color: white;
color: var(--Soft-Blue);
border: 2px solid  var(--Soft-Blue);
  }
 	  	 
.strapline {
 	color: white;
      font-size: 2.8rem;
    margin: 0px auto 5rem;}
.center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lft{
  position: relative;
    left: 20%;
    top: 20%;
    transform: translate(-20%,-20%);

}

.faq{
	display: flex;
	 justify-content: center;
	 margin: 0px auto 5rem;
}.section-b{
	padding: 50px;
}
.download{
	padding: 120px 0px;
	margin: 120px auto;
}
.menu-icon{
	display: none;

}
footer li a {
color: white;
	margin:0 20px;
}
.faqimg{ 
	margin:0 40px;
 }
.faqimg:hover, .faqimg:active{
 	stroke:var(--Soft-Red);
 /*	transform: rotate(540deg);*/
 }
.test{
	color: white;
}.bg-dots{
	margin: 0 auto;
	width: 80%;
}
.panel-title{
	display: flex;
	justify-content: space-around;

}
.btn-flex{
	margin: 0 auto;
	 }
.tg-btn{
	display: flex;
	flex:1;
	justify-content: space-around;
 	 
}
.hamburger{
display: none;
border: 0;
 }
 header img{
	 	width: 100%;
margin:0 auto;
	 }
	 .tab-imag img{
width: 100%;
margin:0 auto;
	 }
	  .btn2:hover{
  	border: 2px solid  var(--Soft-Blue);
  	background: white;
  	color: var(--Soft-Blue);
 
  }
@media (max-width: 768px)

{ 
	 
	nav ul li{
	margin:10px;
 font-weight: 300;
}
	header{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	
	.flex-tabs ul{
		flex-direction: column;
		justify-content: center;
		align-items: center;

	} 
.section-flex{
	flex-direction: column;
		align-items: center;
		justify-content: center;


}
.section-flex>div{
	flex: 1;
	flex: 0 1 auto;
}
.container1::after{
content: '';
 width: 400px;
 height: 200px;
 bottom:  55%;
  
 
    right:  0;

 }
  .tab-img::after{
  	content: "";
    width: 25%;
    height: 25%;
    background-color: var(--Soft-Blue);
    position: absolute;
    /* bottom: 40px; */
    top: 250px;
    left: -20px;
    border-radius: 0px 0 160px 0;
    z-index: -1;
  }
	footer{
	flex-direction: column;
	align-items: center;

}
.footer-list{
	display: list-item;
}  


}

@media (max-width: 600px)

{ 
	h1,h3,p,a{
	max-width: 100%;
		margin: 0 auto;


}
nav ul {
	display: none;
}
#hamburger{
	display: block;
	cursor: pointer;
		 	color: var(--Very-Dark-Blue);
	 }

nav ul.show1{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 90vw;
	 top: 90px;
	  height: 100vh;
margin: 0 auto;
/*          ---------    */

	 	background-color: var(--Very-Dark-Blue);
   	align-items: center;
	color: white;
	 z-index: 100;
	 opacity: 0.9;
	 padding: 50px;
	 transition: 0.3s;
	 
	 
}
 
nav ul.show1 li{
margin:0 auto;
 justify-content: center;
align-items: center;
	 transition: all 0.3s ease 0s;
}
.menu-icon{
	display: flex;
	align-items:flex-end;
	align-content: center;
	padding: 50px;

}
.menu-icon a{
padding: 0 10px;
}
nav ul.show1 li a {
	justify-content: center;
	align-items: center;
	color: white;
	  border-bottom: 2px solid white;
	margin: 0 auto;
	letter-spacing: 2px;
	padding: 8px 16px;
	   background: transparent;
width: 300px;
text-decoration: none;

}

nav ul.show1 li a:hover{
 
		 transition: all 0.3s ease 0s;
		 
}
   .btn1{
background: transparent;
color: white;
padding: 8px 16px;
	border-spacing: 2px;
	border: 2px solid white;
   	}
   	.btn1:hover{
   border: 2px solid var(--Grayish-Blue);
 
   }
 .btn2{
 	background: transparent;
 	border: 2px solid var(--Grayish-Blue);
 	padding: 8px 12px;
 		border-radius: 3px;
 	padding-top: 1.2rem;
 	margin: 5px auto;
  }
 
.faqimg{ 
	align-self: flex-end;
	 
 }
h2{
	font-size: 24px;
}
}